.carousel {
  width: 80%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.carousel .carousel_control {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.carousel .carousel_control svg {
  fill: var(--main-grey-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.carousel .carousel_control_left {
  left: -70px;
}

.carousel .carousel_control_right {
  right: -70px;
}

.carousel_images {
  width: 100%;
}

.ant-carousel .slick-slide img {
  display: unset !important;
}

.carousel .image_wrap {
  padding: 0.5rem;
}

.carousel .image_wrap img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .carousel .carousel_control_left {
    left: -30px;
  }

  .carousel .carousel_control_right {
    right: -30px;
  }
}
