.top_toolbar {
    width: 100%;
    position: relative;
}
.main-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    margin: auto;
    padding: 40px 20px;
}

.main-links a {
    color: #9d9d9d;
    text-decoration: unset;
    padding: 0 12px 0 12px;
    white-space: nowrap;
    font-size: 1rem;
}
